.boton-volver{
    height: 50px;
    width: 20%;
    color: #fff;
    background-color: rgb(43, 110, 226);
    box-shadow: rgba(0, 0, 0, 0.407) 0px 5px 15px;
    margin-top: 2%;
    margin-left: 37%;
    margin-bottom: 5%;
    padding: 1%;
    border: none;
    border-radius: 10px;
}
