h1{
    height: 60px;
    background-color: rgb(57, 57, 57);
    box-shadow: rgba(0, 0, 0, 0.407) 0px 5px 15px;
}

.formulario-inicio{
    width: 60%;
    height: 400px;
    margin-left: 20%;
    margin-top: 5%;
    padding: 2%;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: rgb(57, 57, 57);
    box-shadow: rgba(0, 0, 0, 0.407) 0px 5px 15px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    height: 50px;
    width: 45%;
    border: none;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.407) 0px 5px 15px;
    color: rgb(43, 110, 226);
}

.boton-inicio-sesion{
    margin-top: 5%;
    color: #fff;
    background-color: rgb(43, 110, 226);
    box-shadow: rgba(0, 0, 0, 0.407) 0px 5px 15px;
}

.boton-volver{
    height: 50px;
    width: 40%;
    margin-top: 2%;
    margin-left: 30%;
    padding: 2%;
    border: none;
    border-radius: 10px;
}
